:root {
  --color-background: #f1f1f1;
  --color-bg: #ffffff;
  --color-text: #000;
  --fill: #000;
  --stroke: #000;
}

.dark-mode body {
  --color-background: #222222;
  --color-bg: #000000;
  --color-text: #ffffff;
  --fill: #ffffff;
  --stroke: #ffffff;
}

html {
  font-size: 12px;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
}

svg {
  width: 2rem;
  min-width: 2rem;
  height: 2rem;
  min-height: 2rem;
  ..border: 1px solid var(--line);
}

svg path {
  fill: var(--fill);
  stroke: var(--stroke);
}